<h2 class="text-center text-primary">Your Order History</h2>

<div class="text-center border border-primary">
  {{#each allOrderData as |ordData|}}
    <p>You ordered
      {{ordData.contents}}
      for a total price of $
      {{ordData.price}}
      on
      {{format_date ordData.date_created}}

    </p>
  {{/each}}
</div>