<div class="text-center card-header"><h1>Your Order History</h1></div>
{{#each allOrderData as |ordData|}}

  <div class="text-center card border-primary mb-3" style="=max-width=100%">
    <div class="card-body">
      <h4 class="card-title">Order on
        {{format_date ordData.date_created}}</h4>
      <p class="card-text">You ordered
        {{ordData.contents}}
        for a total price of $
        {{ordData.price}}
      </p>
    </div>
  </div>

{{/each}}