{{#each allResData as |resData|}}
  <p>You have made a reservation for
    {{resData.people}}
    people at
    {{resData.time}}
    on
    {{format_date resData.date_of_res}}. The Phone number on file is
    {{resData.phone}}. Bon Appetit!
  </p>
{{/each}}